<!DOCTYPE html>
<title>Dummy App</title>

<article>
    <h4>Holla! Please enter company name</h4>
        <input class="form-control" type="text" ng-model="selectedCompany" uib-typeahead="company.companyName for company in getCompanies($viewValue)"
               typeahead-loading="loading" typeahead-min-length="3" typeahead-wait-ms="500">
        <br/>
        <button ng-click="goToRoute('/details/company_name/' + selectedCompany)" class="btn btn-success" type="submit">Search</button>
    </div>
</article>